html {
	font-family: Arial;
}

body {
	padding: 20px;	
}	

.nav-main {
	padding: 0 0 20px; margin: 0;
	
}

.nav-main a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	color: white;
	background-color: black;
	font-weight: bolder;
}	

.nav-main a:hover {
	background-color: white;
	color: black;
}	

.content {
	border: 1px solid #ddd;
	padding: 0px 20px 20px 20px;	

}	

.box {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 15px;	
}	